


.row-header{
  margin:0px auto;
  padding:0px auto;
}

.bg{
  background-image: url("https://i.pinimg.com/originals/a0/74/a8/a074a8a62cf3c17b39c70aa1270ef4eb.jpg");
  
  background-size: cover;

  min-width: 100%;

  min-height: 100%;
}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #1a0330 ;
  color:floralwhite;
}






.align{
  align-items: center;
}

.pos{
  position: relative;
}